{% extends "admin/base.html.twig" %}

{% block title %}Mon Actitivité - Mes Projets{% endblock %}

{% block titrePage %}
  {% if isModification %}
    Modification Du Projet n°{{projet.id}}
  {% else %}
    Nouveau Projet
  {% endif %}
{% endblock %}
{% block body %}
  {{form_start(form)}}
  <div class="container-fluid">
    <div class="bg-info w-100 text-white text-center">
      <p class="h3">INFORMATIONS GENERALES</p>
    </div>
    <div class="row">
      <div class="col-6">
        {{form_row(form.analyseExistant)}}
        {{form_row(form.objectifsDuSite)}}
        {{form_row(form.cibles)}}
        {{form_row(form.fonctionnalites)}}
        {{form_row(form.charteGraphique)}}
      </div>
      <div class="col-6">
        {{form_row(form.contenuDuSite)}}
        {{form_row(form.maquettage)}}
        {{form_row(form.contraintesTechniques)}}
        {{form_row(form.prestationsDevis)}}
        <div class="row">
          <div class="col-6">
            {{form_row(form.client)}}
          </div>
          <div class="col-6">
            {{form_row(form.typeProjet)}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="bg-info w-100 text-white text-center">
        <p class="h3">PLANNING SOUHAITE</p>
      </div>
      <div class="row">
        <div class="col-6">
          {{form_row(form.dateMaquette)}}
          {{form_row(form.dateDeveloppement)}}
        </div>
        <div class="col-6">
          {{form_row(form.dateTests)}}
          {{form_row(form.dateMiseEnLigne)}}
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="bg-info w-100 text-white text-center">
        <p class="h3 m-0">FICHIERS DU PROJET</p>
      </div>
      <div class="mt-5 w-100">{{form_row(form.images)}}</div>
      {% if isModification %}
        {% for image in projet.images %}
          <div>
            <a href="{{asset('uploads/projets/' ~ image.urlImage)}}"><img src="{{asset('uploads/projets/' ~ image.urlImage)}}" alt="image" width="150" height="150"></a>
            <a href="{{path('supprimer_image', {'id':image.id})}}" data-delete="" data-token="{{ csrf_token('delete' ~ image.id) }}" class="btn btn-danger font-weight-bold">X</a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <input type="submit" class="btn btn-primary font-weight-bold" value="Valider">
  </div>
  {{form_end(form)}}
{% endblock %}
{% block javascripts %}
  <script src="{{asset('js/script.js')}}"></script>
{% endblock %}
