{% extends "admin/base.html.twig" %}

{% block title %}Mon Actitivité - Mes Projets{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">{% endblock %}
{% block titrePage %}Mes projets{% endblock %}

{% block body %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endfor %}
  <div class="container-fluid mt-3">
    <div class="mb-3">
      <a href="{{path('admin_projet_creation')}}" class="btn btn-success font-weight-bold">Ajouter</a>
      <a href="{{path('admin_projet_export')}}" class="btn btn-info font-weight-bold">Exporter</a>
    </div>
    <table id="myTable" class="table table-hover mt-2">
      <thead>
        <tr>
          <th scope="col">Client</th>
          <th scope="col">Type</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        {% for projet in projets %}
          <tr class="table-light">
            <th scope="row">
              <a href="{{path('admin_client_modification', {'id': projet.client.id})}}">{{projet.client.nomEntreprise}}</a>
            </th>
            <td>{{projet.typeProjet.libelle}}</td>
            <td>
              <a href="{{path('admin_projet_modification', {'id': projet.id})}}" class="btn btn-warning">
                <i class="fas fa-edit"></i>
              </a>
            </td>
            <td>
              <form action="{{path('admin_projet_suppression',{'id':projet.id}) }}" method="post" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce projet ?')">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ projet.id) }}">
                <button type="submit" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block javascripts %}
  <script src="http://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="http://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json"></script>
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable({
        language: {
          url: "http://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json"
        }
      });
    });
  </script>
{% endblock %}